body {
  font-family: Roboto, sans-serif;
  background: #fff;
  color: #434455;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

.container {
  display: flex;
  max-width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 76px;
  margin-right: auto;
}

.nav-menu-list {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

/* .nav-menu-list:first-child(:active) {
    text-decoration: underline;
} */

.nav-link {
  display: block;
  color: #2e2f42;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* Address */

.address-box {
  font-style: normal;
}

.address-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.address-link {
  text-decoration: none;
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* hero image */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.box-hero {
  background: #2e2f42;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}

.title-hero {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07em;
  letter-spacing: 0.02em;
}

.button-order-name {
  background: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
}
.button-order-name:hover,
.button-order-name:focus {
  background-color: #404bbf;
}

/* Section 1 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect (0 0 0 0);
  overflow: hidden;
}

.box-advant-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.box-advant-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Section 2 */
.box-team {
  background: #f4f4fd;
}

.box-team-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.box-team-foto {
  background-color: #ffffff;
}

.name-employ {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.type-employ {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Section 3 */

.box-portf-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.box-portf-list {
display: flex;
flex-wrap: wrap;
gap: 16px;
  width: calc((100% - 48px) / 3);
}

.box-portf-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.name-product {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.category-product {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  background: #2e2f42;
  color: #f4f4fd;
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
}

.logo-footer {
  display: flex;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer-studio {
  color: #f4f4fd;
  font-size: 18px;
  line-height: 1.16666;
  letter-spacing: 0.54px;
}

.text-fotter {
  display: flex;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
